services:
  user-management-web:
    container_name: user-management-web
    build:
      context: .
      dockerfile: docker/django/Dockerfile
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - user-management-db
    volumes:
      - static_volume:/home/app/web/staticfiles
  user-management-db:
    container_name: user-management-db
    build:
      context: .
      dockerfile: docker/postgres/Dockerfile
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB_USER_MANAGEMENT}
    ports:
      - "${SQL_PORT}:5432"
  user-management-nginx:
    container_name: user-management-nginx
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    ports:
        - "1234:80"
    depends_on:
      - user-management-web
    volumes:
      - static_volume:/home/app/web/staticfiles

volumes:
    postgres_data:
    static_volume: